﻿@model IndeedMVC.Models.SupportTeam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreeStatus)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.FreeStatus)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionNavigation)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.PositionNavigation.PositionName)
        </dt>
        @if (!Model.FreeStatus)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ticket)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Ticket.ProblemDescription)
            </dt>
        }
        @*<dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                    @foreach (var item in Model.Enrollments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grade)
                            </td>
                        </tr>
                    }
                </table>
            </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>