﻿@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/supportMonitoring.js?@DateTime.Now.Ticks"></script>


<div id="supportMonitoring" class="row" style="padding:20px"></div>
<div id="supportMonitoring_Team" class="row" style="padding:20px"></div>
<div id="supportMonitoring_TicketsHistory" class="row" style="padding:20px"></div>
